:root{color-scheme:dark}
*{vertical-align:text-top}
body,input,select,textarea{font-size:calc((12px * {magnification}) + .03vw);background-repeat:no-repeat}
body{font-family:'Tahoma','Verdana','Noto Sans','Arial';letter-spacing:1px;text-decoration:none;border-style:none;margin:0;white-space:normal;background-color:#36393b;color:#c5bc8e;background-image:url('?phpmussel-asset=moon.jpg&theme={theme}');background-attachment:fixed;background-position:center center}
hr{border-style:solid none none;border-width:1px;margin:5px 2px 0;padding:2px;color:#aaa}
img.ico{width:16px;height:16px;border:0}
input[type=file]{margin:0;padding:0;border:none;background:none;width:auto}
input,input[type=file]::file-selector-button,select,option,textarea{background-color:rgba(54,57,59,.7);border:1px solid #aaa;color:#c5bc8e;margin:2px;padding:2px}
input,select{width:150px;background-repeat:no-repeat;background-position:top {FE_Align_Reverse}}
input[type=submit]:not(.auto),input[type=button]:not(.auto){width:auto;min-width:150px}
input.auto,input[type=file]::file-selector-button,select.auto{width:auto;padding-left:10px;padding-right:10px}
input[type=image]{width:inherit;border:inherit}
input[type=password]{background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_key_silver.gif}{/Base64Encode})}
input[type=text]{background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_{Text Direction}_silver.gif}{/Base64Encode})}
input[type=text][pattern]:valid:not(input[type=text]:placeholder-shown){background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_{Text Direction}_silver_valid.gif}{/Base64Encode})}
input[type=text][pattern]:invalid:not(input[type=text]:placeholder-shown){background-image:url(data:image/gif;base64,{Base64Encode}{Asset:pip_{Text Direction}_silver_invalid.gif}{/Base64Encode})}
input{border-radius:0}
input[type=button],input[type=file]::file-selector-button,input[type=submit],input[type=reset]{border-radius:18px;transition:all .3s ease-out}
select,option,input,textarea{filter:grayscale(.1) brightness(.94)}
select:active,textarea:active:not([readonly]),input:active{filter:grayscale(0) brightness(1)}
select:disabled,textarea:disabled,input:disabled{filter:grayscale(1) brightness(.5)}
select:focus,textarea:focus,input:focus,select:hover,textarea:hover:not([readonly]),input:hover{filter:grayscale(0) brightness(1)}
table{table-layout:fixed}
table,.spanner{width:100%}
textarea{height:150px}
textarea.half{height:75px}
textarea{width:calc(100% - 10px)}
a:link,a:visited{color:#eee6ab}
a:hover,a:active,a:focus{color:#fff7bc}
.cat,.exp,.gen,.nav,.s,.txtGn,.txtOe,.txtRd,.spanner,a,input,input[type=file]::file-selector-button,select,textarea{font-weight:700}
.ci,.co,.gen,.center{margin:auto}
.ci,.co,.ng1,.ng2{width:calc(100% - 32px)}
.idx{width:calc(100% - 10px)}
.ci{background-color:rgba(69,84,75,.5);border-style:solid;border-width:1px;border-color:#aaa;text-align:{FE_Align};border-top-{FE_Align_Reverse}-radius:24px;padding:12px}
.co,body,.nav,.center{text-align:center}
.co,body{padding:0}
.dt,.s,.txtBl,.txtGn,.txtOe,.txtRd{display:inline}
.dt{float:{FE_Align};text-align:{FE_Align};width:80%}
.gen,.spanner{text-align:{FE_Align_Reverse}}
.gen,input,select,textarea{font-family:'Verdana','Arial',Helvetica}
.gen{letter-spacing:0;white-space:nowrap}
.h1,.h1f,.h2,.h2f,.h3,.h3f,.h4,.h4f,.ng1,.ng2,.r,.rf,.spanner{margin:0;padding:4px;border-style:{Half_Border};border-width:1px;border-color:#999}
.h1,.h1f,.h2,.h2f,.r,.rf{width:25%}
.h1,.h3,.spanner{background-color:rgba(103,106,109,.5)}
.h2,.h4,code{background-color:rgba(86,89,92,.5)}
.h3,.h3f,.h4,.h4f{width:50%}
code,.nav{font-family:'Courier New','Courier','Arial'}
.ng1,.h1f,.h3f{background:linear-gradient({90deg},rgba(103,106,109,.5),#555)}
.ng2,.h2f,.h4f{background:linear-gradient({90deg},rgba(86,89,92,.5),#444)}
.hFd:hover,.r{background-color:rgba(120,89,92,.5)}
.rf{background:linear-gradient({90deg},rgba(120,89,92,.5),#644)}
.branchline{border-style:none none solid none;border-width:1px;border-color:#aaa}
.txtGn{color:#b4de7d}
.txtOe{color:#e7de6c}
.txtRd{color:#e7ab7d}
.ufts{width:220px}
.normalHeight{line-height:100%}
@media only all and (max-width:230px) {
  .ufts{width:calc(100% - 10px)}
}
@keyframes idxAn{0%{background:rgba(120,89,92,.5)}100%{background:rgba(86,89,92,.5)}}
@keyframes UplT{0%{opacity:0}100%{opacity:1}}
.mob{display:none}
input[id=logoutbutton]{border-top-{FE_Align}-radius:0;border-bottom-{FE_Align}-radius:0;padding-{FE_Align}:18px;margin-{FE_Align}:-1px;background-position:top 1px {FE_Align} 4px,top 1px {FE_Align} 4px;background-image:url(data:image/png;base64,{Base64Encode}{Asset:lock_wt_o.png}{/Base64Encode}),url(data:image/png;base64,{Base64Encode}{Asset:lock_wt_c.png}{/Base64Encode})}
input[id=logoutbutton]:hover,input[id=logoutbutton]:active,input[id=logoutbutton]:focus{background-position:top 3px {FE_Align} 4px,top 1px {FE_Align} 4px}
input[id=homebutton]{border-top-{FE_Align_Reverse}-radius:0;border-bottom-{FE_Align_Reverse}-radius:0;margin-{FE_Align_Reverse}:0}
.h1f,.h2f,.h3f,.h4f,.rf{white-space:nowrap}
@media only all and (max-width:968px) {
  .big,.dt{display:none}
  .mob{display:block}
  .gen{float:none;height:auto;text-align:center}
  .h1,.h1f,.h2,.h2f,.r,.rf{width:50%}
  .extend{width:100%}
}
.hB{background-color:rgba(0,0,0,.125)}
.hW{background-color:rgba(255,255,255,.125)}
.fW{word-break:break-all}
.exp{color:#ff0;background-color:#f00}
.pieul{list-style-type:none;margin:0;padding:0}
li>span.comCat:first-child,input[type=file]::file-selector-button{cursor:pointer}
.comCat::before{content:"➖";display:inline-block;margin-{FE_Align_Reverse}:6px;line-height:100%;cursor:pointer}
.caret-down::before{animation:forRotate .2s linear 1;animation-fill-mode:both}
.caret-up::before{animation:revRotate .2s linear 1;animation-fill-mode:both}
.comSub{overflow:hidden;transform:scaleY(0);transform-origin:top;opacity:0;max-height:0;transition:all .5s ease-out}
.active{transform:scaleY(1);transform-origin:top;opacity:1;max-height:99999px;transition:all .3s ease-in}
blockquote.comSub{margin:-2px 0 0 0;padding:0 0 0 0}
@keyframes forRotate{0%{transform:rotate(0)}100%{transform:rotate({45deg})}}
@keyframes revRotate{0%{transform:rotate({45deg})}100%{transform:rotate(0)}}
select+input[type=submit],select+input[type=button],input[name=qkey]+input[type=submit]{height:20px;margin-{FE_Align}:-3px;border-bottom-{FE_Align}-radius:0;border-top-{FE_Align}-radius:0;padding-{FE_Align}:3px}
input[name=qkey]{margin-{FE_Align}:-3px;padding-{FE_Align}:3px}
select,input[type=submit],input[type=reset],input[type=button],input[type=file]::file-selector-button,input[type=text],input[type=password],input[type=number],input[type=date],input[type=time],button{box-sizing:border-box;height:20px;padding-top:0;padding-bottom:0}
#pgrad{width:16px;height:16px;display:inline-block;border-radius:16px;filter:blur(2px)}
td code~input,td code~select{vertical-align:middle}
.trEase{transition:all .5s ease-out}
.trEase>div{display:inline-block;transition:inherit}
.pipCntrs{display:inline-block;position:relative;left:0;width:12px;height:12px;transition:inherit}
.pipCntrs>img{display:inline-block;position:absolute;left:0;transition:inherit}
input[type=checkbox]+label,input[type=radio]+label,input[type=radio]+label,.gridboxitem>label,.gridboxitem input+strong{vertical-align:-2px;cursor:pointer}
.gridHA:not(.gridVA,.gridVB,.gridboxstretch),.gridHB:not(.gridVA,.gridVB,.gridboxstretch){white-space:nowrap}
.configMatrixLabel,.vrte,.gridbox,.gridboxcheckcell{text-align:center}
.gridbox{display:grid;grid-template-columns:auto auto auto}
.gridboxitem,.gridboxcheckcell{height:19px}
.gridboxstretch{height:100%;white-space:normal}
.configMatrixLabel{height:auto;line-height:19px;font-weight:700}
.vrte,.vrto{vertical-align:-3px;font-weight:700}
.gridboxcheckcell{vertical-align:middle;margin:0;padding:auto}
.gridboxcheckcell>input[type=checkbox],.gridboxcheckcell>input[type=radio],.gridlabel>input[type=checkbox],.gridlabel>input[type=radio]{position:relative;top:1px}
.gridlabel{display:block;height:100%;width:100%}
.gridlabel:hover{background-color:rgba(255,255,255,.25);transition:all .2s ease-out;filter:brightness(1.25)}
.gridHA.vrte,.gridHA:not(.gridVA,.gridVB,.vrto){background:linear-gradient({90deg},rgba(0,0,0,.125) 0 40%,rgba(0,0,0,0) 80%)}
.gridHA.vrto{background:linear-gradient({90deg},rgba(0,0,0,.125) 0 25%,rgba(0,0,0,0) 50%)}
.gridHA.gridVA{background-color:rgba(0,0,0,.125)}
.gridHA.gridVB{background-color:rgba(127,110,85,.3)}
.gridVB:not(.gridHA){background-color:rgba(251,191,127,.35)}
.configMatrixLabel.gridVB{background:linear-gradient(0deg,rgba(251,191,127,.35),rgba(0,0,0,0))}
.warning::before,.warning::after{content:"⚠️";font-size:24px;display:inline;line-height:100%;position:relative;top:2px}
.warning{display:inline-block;margin:4px;font-weight:700;color:#e7ab7d;background:linear-gradient({90deg},rgba(128,92,0,0) 0,rgba(128,92,0,.8) 20% 80%,rgba(128,92,0,0) 100%);line-height:100%}
.showlink::before,.shownlink::before,.unshownlink::before{content:"➖";display:inline-block;margin-{FE_Align_Reverse}:6px}
.shownlink::before{animation:forRotate .5s ease-out 1;animation-fill-mode:both}
.unshownlink::before{animation:revRotate .5s ease-out 1;animation-fill-mode:both}
input[type=button].reset{background:none;cursor:pointer;border:none;padding:0 12px 0 12px;margin:0;width:auto;color:#e7ab7d}
input[type=button].reset:hover,input[type=button].reset:active{color:#fcefcf}
.tablend{margin-top:-2px}
#logsTA{position:relative;top:-2px}
::selection{background-color:rgba(204,102,102,.5);color:#fff}
.txtGn::selection,.txtGn>*:not(.txtOe,.txtRd)::selection{color:#dfc}
.txtOe::selection,.txtOe>*:not(.txtGn,.txtRd)::selection{color:#fec}
.txtRd::selection,.txtRd>*:not(.txtGn,.txtOe)::selection{color:#fcc}
.flexrow{display:flex}
.flexin{margin-{FE_Align}:-1px;margin-{FE_Align_Reverse}:1px;width:auto;flex-grow:1}
